.check {
  margin-right: 20px;
  margin-top: 20px;
  width: 18px;
  height: 18px;
  float: left;
}

.titulo {
  float: right;
  margin-right: 20px;
}

.produtoTitulo {
  padding-top: 100px;
  margin-bottom: 50px;
  margin-left: 150px;
}

.produtos {
  margin-left: 10px;
  height: 480px;
  width: 50%;
  overflow: hidden visible;
  float: left;
  font-size: 20px;
}

.carregando {
  position: fixed;
  text-align: center;
  margin-top: 150px;
  margin-left: 650px;
}

.Carrinho {
  margin-left: 52%;
  overflow: hidden visible;
  height: 350px;
}

.tProduto {
  margin-left: 800px;
}
.tValor {
  text-align: center;
  margin-left: 85%;
  margin-top: -2.5%;
  margin-bottom: 0
}
.tCarrinho {
  text-align: center;
}
.pNome {
  margin-top: 40px;
  margin-left: 30px;
  font-size: 20px;
}
.pValor {
  float: right;
  margin-right: 100px;
  margin-top: -25px;
}

.total {
text-align: center;
margin-top: 20px;
margin-right: 570px;
}

.soma {
  float: right;
  margin-top: -45px;
  margin-right: 100px;
}
