*{
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Titulo{
  text-align: right;
  margin-right: 10%;
}

.Titulo_Tabela{
  text-align: left;
  margin-bottom: 2%;
  margin-left: 10%;
}

.Carregando{
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 80vh;
}

.scrolavel.Carregando{
  overflow-y: hidden;
}

.scrolavel{
  width: 45%;
  height: 75vh;
  overflow: scroll;
  overflow-y: visible;
  overflow-x: hidden;
}

.produtos{
  margin-left: 10%;
}

.Geral{
  text-align: left;
}

.ul{
  margin-bottom: 2%;
  list-style-type: none;
  display: flex;
}

.check{
  margin-top: 2.5%;
  margin-right: 2.5%;
  display: flex;
  float: left;
  height: 25px;
  width: 25px;
}

.lista{
  width: 500px;
  text-align: left;
  display: flex;
  float: left;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
